*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
  padding: 40px;
  list-style: none;
  font-size: larger;
}

nav a{
  text-decoration: none;
  color: beige;
}

nav ul{
  display: flex;
  float: right;
  margin-top: -40px;
}
nav li{
  margin: 20px;
}


header{
  background-color: rgb(173, 111, 66);
  padding: 5px;
  color: antiquewhite;
}

.two{
  box-shadow: 0 10px 10px black;
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-top-left-radius: 20px;
}

#four{
  display: flex;
  flex: 1;
  background-color: rgb(245, 204, 142);
  margin-left: 30px;
  margin-right: 30px;
}

#content{
  background-color: rgb(197, 147, 100);
  padding: 30px;
  border-radius: 20px;
}

footer{
  text-align: center;
}

.Blog{
  background-color: rgb(241, 174, 119);
  padding: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -10px;
}

#Biography{
  background-image: none;
  background-color: rgb(211, 158, 98);
  padding: 20px;
  box-shadow: 10px 10px 10px brown;
  margin-top: 10px;
}

#Skills{
  background-color: rgb(236, 154, 87);
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

#Values{
  background-color: rgb(226, 184, 120);
  margin-top: -10px;
  padding: 20px;
}

#Introduction{
  background-color: bisque;
  padding: 20px;
}

form{
  background-color: rgb(240, 171, 132);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

#submit:hover{
  padding: 10px;
  margin: 10px;
  color: antiquewhite;
  background-color: rgb(41, 39, 39);
  border-radius: 10px;
}